# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# User-specific files
.Ruserdata
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# R Environment Variables
.Renviron
# CSVs
Data/*
Data/t2m_muni_2010_2019.csv.xz
Data/rh_muni_2010_2019.csv.xz
Data/sih_aih_rd_dengue_2010_2020.csv.xz
Outputs/Plots/plot_ready.csv
Outputs/Tables/table_ready.csv
Data/Tables/table_ready.csv
Data/dengue_t2m_muni_2010_2019.csv.xz
Data/dengue_rh2m_muni_2010_2019.csv.xz
Data/dengue_t2m_stratas_2010_2019.csv.xz
Data/dengue_rh2m_stratas_2010_2019.csv.xz
Data/rh2m_muni_2010_2019.csv.xz
